.ListHeader {
    margin-top: 30px;
}
.List {
    display: flex;
    padding:20px 0;
    width: 95%;
    margin: 0 auto;
    background: #fff;
    border-bottom: 1px solid #ccc;
    line-height: 30px;
}
.List img {
    height: 30px;
    width: 30px;
    margin-left: 40px;
    border-radius: 4px;
    justify-content: center;
}
.list1 {
    margin-left: 30px;
    color: #9e78c0;
}
.list2 {
    color: #9a9696;
}
.list3 {
    color: #b4b4b4;
}
.list4 {
    display: inline-block;
    background: #80bd01;
    border-radius: 3px;
    color: #fff;
    height: 20px;
    line-height: 20px;
    margin-left: 5px;
    margin-top: 5px; 
}
.title a{
    text-decoration: none;
    color: #929191;
}
.title:hover a{
    text-decoration: underline;
}
.page-content {
    margin: 20px auto;
    width: 382px;
}
.page a{
    cursor: pointer;
    display: inline-block;
    width: 25px;
    height: 20px;
    border: 1px solid #fff;
    background: #ddd;
    text-align: center;
    line-height: 22px;
    text-decoration: none;
}